
@media (min-width:992px) {

 

    .creation-desk{


        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
       
    }


    .creation-desk .creation-desk-title{


        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        padding-top: 20px;
    }

      .creation-desk .creation-desk-title  .btn-wraper-desk .btn-desk{

        padding: 13px 40px;
        background-color: transparent;
        letter-spacing: 0.2rem;
        border: 1px solid #000;
        cursor: pointer;
    
    }
    .creation-desk .creation-desk-title .btn-wraper-desk .btn-desk:hover{

    
        background: #000;
        color: #fff;
        transition:  0.5s;
    }
     


    .creation-desk h2{

        color: #8C8C8C;
        font-size: 30px;
    }
    


    .creation-desk .gellary-desk{

        display: grid;
        width: 80%;
        flex-direction: column;
        grid-template-columns: repeat( 4, 1fr);
        gap: 1.5rem;
      
        
    
    
    }
    .creation-desk .gellary-desk .earth-desk , .arcade-desk ,.soccer-desk , .the-grid-desk , .from-up-desk , .pocket-desk , .curiosity-desk , .fisheye-desk{


        position: relative;


    }
    .creation-desk .gellary-desk  img:hover{


        opacity: 0.2;
    }
 
    .creation-desk .gellary-desk h1{

        position: absolute;
        top: 80%;
        left: 5%;
        color: #fff;
       font-size: 30px;
       font-family: "Josefine Sans",sans-serif;
       font-weight: lighter;
       text-transform: uppercase;
       /* background-color: rebeccapurple; */
       width: 75%;
       
    
    }
    
   
    
}